 .form-main-content {
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blue(5px);
 }
 .form-main-content>form {
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 10px;
    height: auto;
 }
 .form-main-content>form span {
    color: red;
 }
 .form-main-content>form span:hover{
    border-bottom: 1px solid green;
    color: green;
 }